/*====>>  Stylesheet Guide START  <<====*/
        

        /*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes main
            3.1) TOUCH hacks
            3.2) POSITIONS blocks (float:)
            3.3) POSITIONS text (text-align:)
            3.4) VERTICALLY align boxs (vertical-align:)
            3.5) INDENTS Zero !IMPORTANT
            3.6) POSITIONS (position:)
            3.7) ZEROING float
            3.8) DISPLAYS (dispay:)
            3.9) LINKS And BUTTONS
            3.10) HOVERS TRANSITION
            3.11) TITLES
            3.12) BACKGROUNDS
            3.13) COLORS
            3.14) GOOGLE FONTS
            3.15) INSTALL FONTS
            3.16) VISIBILITY
            3.17) TEXTAFIELD (placeholder animation)
            3.18) BREADCRUMBS  START
        4. HEADER
        5. CONTENT
        6. FOOTER 
        
        <<=========================================>>*/
        

/*====>>  Stylesheet Guide END    <<====*/



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins and other CSS files START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


        @import "../css/reset.css";
        @import "../css/indent.min.css";
        @import "../css/bootstrap.css";
        /*@import "../css/animate.css";
        @import "../plugins/flexslider/flexslider.css";
        @import "../font-awesome-4.5.0/css/font-awesome.css";
        @import "../plugins/owl-carousel/owl.carousel.css";
        @import "../plugins/formstyler/formstyler.css";
        @import "../plugins/superfish/superfish.css";
        @import "../plugins/easy-responsive-tabs/easy-responsive-tabs.css";
        @import "../plugins/royalslider/royalslider.css";
        @import "../plugins/royalslider/rs-default.css";
        @import "../plugins/arcticmodal/jquery.arcticmodal.css";
        @import "../css/plugins.css";*/


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins And Other CSS files END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


    article,
    aside,
    audio,
    canvas,
    command,
    datalist,
    details,
    embed,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    keygen,
    meter,
    nav,
    output,
    progress,
    section,
    source,
    video{
        display:block;
    }
    mark,
    rp,
    rt,
    ruby,
    summary,
    time{
        display:inline;
    }
    span,
    img,
    a{
       display: inline-block; 
    }

    html {width:100%;}

    body {
        font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        line-height:inherit;
        color:#666;
        min-width:320px;
        /*background:url(../images/body_bg.jpg) 50% 0 repeat #fff;*/
        -webkit-text-size-adjust: none;
    }
    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    hr{
        border: none;
        border-top: 1px solid #888;
        margin: 0;
    }
   /* .container{
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 16px;
        padding-right: 16px;
    }*/

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  
<================================================*/




        /*=======================>  TOUCH hacks START  <=======================*/


            input,
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*=======================>  POSITIONS blocks (float:) START  <=======================*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}


        /*=======================>  POSITIONS text (text-align:) START  <=======================*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*=======================>  VERTICALLY align boxs (vertical-align:) START  <=======================*/
        

            .val_mid{vertical-align: middle;}
            .val_bot{vertical-align: bottom;}
            .val_top{vertical-align: top;}
        

        /*=======================>  INDENTS Zero !IMPORTANT START  <=======================*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*=======================>  POSITIONS (position:) START  <=======================*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 99;
            }


        /*=======================>  ZEROING float START  <=======================*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after,
            .container:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*=======================>  DISPLAYS (dispay:) START  <=======================*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}
            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*=======================>  LINKS And BUTTONS START  <=======================*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            a {
                color:#666;
                outline:none;
                text-decoration:underline;
                display: inline-block;
            }
            a:hover{
                color:#555;
                text-decoration:none;
            }
            button{
                border: none;
                padding: 10px 10px 10px 10px;
                display: inline-block;
                background-color: gray;
                color: #FFF;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                text-transform: uppercase;
            }
            [class*="btn_"]{
                padding: 13.5px 29px;
                font-size: 13px;
                line-height: 15px;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                color: #fff;
                text-transform: uppercase;
            }


        /*======================>>  HOVERS TRANSITION START <<======================*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*======================>  TITLES START  <======================*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 20px;
            }
            
            .title{
                color: #524556;
                font-size: 40px;
                line-height: 1.2;
                font-family: 'GothamBold';
            }

            .title1{
                font-size: 16px;
                line-height: 1.2;
                color:#000;
            }

            .title2{
                font-size: 20px;
                line-height: 1.2;
                color:#000;
            }

            .it{font-style:italic;}

            .let{letter-spacing:-1px;}

            .reg {text-transform:uppercase;}

            .td_und{text-decoration: underline;}
            .td_und:hover{text-decoration: none;}

            .td_und_no{text-decoration: none;}
            .td_und_no:hover{text-decoration: underline;}

            .td_no{text-decoration: none !important;}


        /*=======================>  BACKGROUNDS START  <=======================*/


            .bg_none{ background:none !important;}
            .bg_black{background-color: #000;}
            .bg_white{background-color: #fff;}

            .btn_gray{
                background-color: gray;
            }

        /*=======================>  COLORS START  <=======================*/


            .white{ color: #FFF;}
            .black{ color: #000;}


        /*======================>  GOOGLE FONTS START  <======================*/
        


        /*======================>  INSTALL FONTS START  <======================*/
        
            .font_aw{font-family: 'FontAwesome';}
            .gotham{font-family: 'Gotham Bold Regular';}
            .gotham_bd{font-family: 'GothamBold';}
            .merri_font{font-family: 'Merriweather-Regular';}
        

            /*----------------  START: FONTS  -------------*/

                /*----  FontAwesome FONT  ----*/
                    @font-face {
                        font-family: 'FontAwesome';
                        src: url('../font/fontawesome/FontAwesome.woff') format('woff'),
                             url('../font/fontawesome/FontAwesome.ttf') format('truetype'),
                             url('../font/fontawesome/FontAwesome.svg#FontAwesome') format('svg');
                        font-weight: normal;
                        font-style: normal;
                    }

                    @font-face {
                        font-family: 'fontawesome-webfont';
                        src: url('../font/fontawesome/fontawesome-webfont.eot');
                        src: url('../font/fontawesome/fontawesome-webfont.woff2') format('woff2'),
                             url('../font/fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype');
                        font-weight: normal;
                        font-style: normal;
                    }

                /*----  Gotham FONT  ----*/
                    @font-face {
                        font-family: 'Gotham Bold Regular';
                        src: url('../font/gotham/Gotham Bold Regular.eot');
                        src: url('../font/gotham/Gotham Bold Regular.woff2') format('woff2'),
                             url('../font/gotham/Gotham Bold Regular.eot?#iefix') format('embedded-opentype');
                        font-weight: normal;
                        font-style: normal;
                    }

                    @font-face {
                        font-family: 'GothamBold';
                        src: url('../font/gotham/GothamBold.woff') format('woff'),
                             url('../font/gotham/GothamBold.ttf') format('truetype'),
                             url('../font/gotham/GothamBold.svg#GothamBold') format('svg');
                        font-weight: normal;
                        font-style: normal;
                    }

                /*----  Merriweather FONT  ----*/
                    @font-face {
                        font-family: 'Merriweather-Regular';
                        src: url('../font/marriweather/Merriweather-Regular.eot');
                        src: url('../font/marriweather/Merriweather-Regular.woff2') format('woff2'),
                            url('../font/marriweather/Merriweather-Regular.woff') format('woff'),
                            url('../font/marriweather/Merriweather-Regular.ttf') format('truetype'),
                            url('../font/marriweather/Merriweather-Regular.svg#Merriweather-Regular') format('svg'),
                            url('../font/marriweather/Merriweather-Regular.eot?#iefix') format('embedded-opentype');
                        font-weight: normal;
                        font-style: normal;
                    }



                /*----------------  END: FONTS  -------------*/



        /*======================>  VISIBILITY START  <======================*/
        

            .visible{
                visibility: visible;
            }
            .invisible{
                visibility: hidden;
            }


        /*======================>  TEXTAFIELD (placeholder animation) START  <======================*/
        
            /*===  input start  ===*/
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 2px solid red;    
            }

            input::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

            input:focus::-webkit-input-placeholder {
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus::-moz-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus:-moz-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            input:focus:-ms-input-placeholder{
                line-height: 100px; 
                transition: all 0.5s ease;
            }
            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            textarea::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }

            textarea:focus::-webkit-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus::-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-ms-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            /*===  textarea end    ===*/
            

        /*======================>  BREADCRUMBS  START  <======================*/
            
            .breadcrumbs_container{
                background-color: #ff6633;
            }
                .breadcrumbs{
                    display: block;
                    list-style: none;
                    margin: 24px 0 24px 0;
                }
                    .breadcrumbs_it{
                        position: relative;
                        float: left;
                        margin-right: 4px;
                        padding-right: 15px;
                    }
                    .breadcrumbs_it:before{
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        content: attr(data-bread-arr);
                        color: #fff;
                        font-size: 20px;
                        line-height: 20px;
                        /* background: url(../images/icon_breadcrumbs.png) 0 0 no-repeat; */
                        /* width: 6px;
                        height: 6px; */
                    }
                    .breadcrumbs .breadcrumbs_it:last-child:before{
                        display: none;
                    }
                        .breadcrumbs_it a{
                            text-decoration: none;
                            color: #fff;
                        }
                        .breadcrumbs .breadcrumbs_it:first-child a{padding-left: 0;}
                        .breadcrumbs_it a:hover{
                            text-decoration: underline;
                        }
                            .breadcrumbs_current{
                                font-size: 15px;
                                line-height: 21px;
                                font-weight: 700;
                                color: #fff;
                            }




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    header {
        
    }
        .logo{
          
        }
            .logo a{
                display:block;
                width:278px;
                height:85px;
                background:url(../images/logo.png) 0 0 no-repeat;
                text-decoration:none;
                text-indent:-9999px;
                font-size: 0;
            }




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #content {
        padding: 50px 0px 100px 0px; 
        min-height: 600px;
    }


    /*======================>  HOME PAGE START  <======================*/

    /*======================>  HOME PAGE END    <======================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    footer {
        padding:30px 0px 30px 0px;
    }
        

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #ahchor{
        
    }
    .ahchor{
        
    }
        .arrow_up {
            position: fixed;
            z-index: 99;
            right: 150px;
            bottom: 150px;
            visibility: hidden;
            opacity: 0;
            bottom: 200px;
            cursor: pointer;
            -webkit-transition: all linear 0.2s;
               -moz-transition: all linear 0.2s;
                -ms-transition: all linear 0.2s;
                 -o-transition: all linear 0.2s;
                    transition: all linear 0.2s;
        }
        .arrow_up.active{
            opacity: 0.6;
            visibility: visible;
        }

            .arrow_up .fa-arrow-up{
                border: 3px solid #888;
                width: 70px;
                height: 70px;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                overflow: hidden;
                text-align: center;
                background-color: transparent;
            }
            .arrow_up .fa-arrow-up:before{
                font-size: 30px;
                color: #888;
                line-height: 65px;    
            }
            .arrow_up:hover,
            .arrow_up.click{
                opacity: 1;
                -webkit-transform: scale(1.1);
                   -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                     -o-transform: scale(1.1);
                        transform: scale(1.1);
                -webkit-transition: all ease-in 0.2s;
                   -moz-transition: all ease-in 0.2s;
                    -ms-transition: all ease-in 0.2s;
                     -o-transition: all ease-in 0.2s;
                        transition: all ease-in 0.2s;
            }
            .arrow_up:hover .fa-arrow-up,
            .arrow_up.click .fa-arrow-up{
                background-color: #34A706;
                border: 3px solid #34A706;
            }
            .arrow_up:hover .fa-arrow-up:before,
            .arrow_up.click .fa-arrow-up:before{
                color: #fff;            
            }


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/