/*----------------  START: FONTS  -------------*/

    /*----  FontAwesome FONT  ----*/
        @font-face {
            font-family: 'FontAwesome';
            src: url('fontawesome/FontAwesome.woff') format('woff'),
                 url('fontawesome/FontAwesome.ttf') format('truetype'),
                 url('fontawesome/FontAwesome.svg#FontAwesome') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'fontawesome-webfont';
            src: url('fontawesome/fontawesome-webfont.eot');
            src: url('fontawesome/fontawesome-webfont.woff2') format('woff2'),
                 url('fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype');
            font-weight: normal;
            font-style: normal;
        }

    /*----  Gotham FONT  ----*/
        @font-face {
            font-family: 'Gotham Bold Regular';
            src: url('gotham/Gotham Bold Regular.eot');
            src: url('gotham/Gotham Bold Regular.woff2') format('woff2'),
                 url('gotham/Gotham Bold Regular.eot?#iefix') format('embedded-opentype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'GothamBold';
            src: url('gotham/GothamBold.woff') format('woff'),
                 url('gotham/GothamBold.ttf') format('truetype'),
                 url('gotham/GothamBold.svg#GothamBold') format('svg');
            font-weight: normal;
            font-style: normal;
        }

    /*----  Merriweather FONT  ----*/
        @font-face {
            font-family: 'Merriweather-Regular';
            src: url('marriweather/Merriweather-Regular.eot');
            src: url('marriweather/Merriweather-Regular.woff2') format('woff2'),
                url('marriweather/Merriweather-Regular.woff') format('woff'),
                url('marriweather/Merriweather-Regular.ttf') format('truetype'),
                url('marriweather/Merriweather-Regular.svg#Merriweather-Regular') format('svg'),
                url('marriweather/Merriweather-Regular.eot?#iefix') format('embedded-opentype');
            font-weight: normal;
            font-style: normal;
        }



/*----------------  END: FONTS  -------------*/

