@font-face {
  font-family: 'Gotham Bold Regular';
  src: url('Gotham Bold Regular.eot');
  src: url('Gotham Bold Regular.woff2') format('woff2'),
       url('Gotham Bold Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('GothamBold.woff') format('woff'),
       url('GothamBold.ttf') format('truetype'),
       url('GothamBold.svg#GothamBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

