@font-face {
  font-family: 'FontAwesome';
  src: url('FontAwesome.woff') format('woff'),
       url('FontAwesome.ttf') format('truetype'),
       url('FontAwesome.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontawesome-webfont';
  src: url('fontawesome-webfont.eot');
  src: url('fontawesome-webfont.woff2') format('woff2'),
       url('fontawesome-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

